# Configure clang-tidy for this project.

# Disabled:
#  -google-readability-namespace-comments the *_CLIENT_NS is a macro, and
#   clang-tidy fails to match it against the initial value.
Checks: >
  -*,
  bugprone-*,
  google-*,
  -google-runtime-references,
  misc-*,
  modernize-*,
  performance-*,
  portability-*,
  readability-*,
  readability-identifier-naming,

HeaderFilterRegex: 'src/[^/]*\.(h|hpp|cpp)$'

CheckOptions:
# Variables, member variables, ...
  - key:    readability-identifier-naming.ParameterCase
    value:  lower_case
  - key:    readability-identifier-naming.VariableCase
    value:  lower_case
  - key:    readability-identifier-naming.MemberCase
    value:  lower_case
  - key:    readability-identifier-naming.PublicMemberCase
    value:  lower_case
  - key:    readability-identifier-naming.ProtectedMemberCase
    value:  lower_case
  - key:    readability-identifier-naming.PrivateMemberCase
    value:  lower_case
  - key:    readability-identifier-naming.PrivateMemberPrefix
    value:  m_
  - key:    readability-identifier-naming.ProtectedMemberPrefix
    value:  m_
  - key:    readability-identifier-naming.PublicMemberPrefix
    value:  m_
  - key:    readability-identifier-naming.MemberPrefix
    value:  m_


# Turn all the warnings from the checks above into errors.
WarningsAsErrors: "*"
