# Configure clang-tidy for this project.
Checks: >
  -*,
  bugprone-*,
  -bugprone-narrowing-conversions,
  cppcoreguidelines-*,
  -cppcoreguidelines-pro-bounds-array-to-pointer-decay,
  -cppcoreguidelines-pro-type-static-cast-downcast,
  -cppcoreguidelines-pro-bounds-pointer-arithmetic,
  -cppcoreguidelines-pro-type-reinterpret-cast,
  -cppcoreguidelines-special-member-functions,
  -cppcoreguidelines-owning-memory,
  -cppcoreguidelines-pro-type-vararg,
  -cppcoreguidelines-interfaces-global-init,
  -cppcoreguidelines-macro-usage,
  -cppcoreguidelines-narrowing-conversions,
  -cppcoreguidelines-avoid-magic-numbers,
  google-*,
  -google-runtime-references,
  -google-default-arguments,
  misc-*,
  modernize-*,
  -modernize-use-trailing-return-type,
  -modernize-use-nodiscard,
  performance-*,
  portability-*,
  readability-*,
  -readability-magic-numbers,

HeaderFilterRegex: 'src/[^/]*\.(h|hpp|cpp)$'

CheckOptions:
# Variables, member variables, ...
  - key:    readability-identifier-naming.ParameterCase
    value:  lower_case
  - key:    readability-identifier-naming.VariableCase
    value:  lower_case
  - key:    readability-identifier-naming.MemberCase
    value:  lower_case
  - key:    readability-identifier-naming.PublicMemberCase
    value:  lower_case
  - key:    readability-identifier-naming.ProtectedMemberCase
    value:  lower_case
  - key:    readability-identifier-naming.PrivateMemberCase
    value:  lower_case
  - key:    readability-identifier-naming.PrivateMemberPrefix
    value:  m_
  - key:    readability-identifier-naming.ProtectedMemberPrefix
    value:  m_
  - key:    readability-identifier-naming.PublicMemberPrefix
    value:  m_
  - key:    readability-identifier-naming.MemberPrefix
    value:  m_

  # Cases
  ## Class casess
  - key:     readability-identifier-naming.ClassCase
    value:   CamelCase
  - key:     readability-identifier-naming.AbstractClassCase
    value:   CamelCase

  ## Function cases
  - key:     readability-identifier-namingClassMethodCase
    value:   lower_case
  - key:     readability-identifier-namingMethodCase
    value:   lower_case
  - key:     readability-identifier-namingFunctionCase
    value:   lower_case
  - key:     readability-identifier-namingPrivateMethodCase
    value:   lower_case
  - key:     readability-identifier-namingPrivateMethodCase
    value:   lower_case
  - key:     readability-identifier-namingProtectedMethodCase
    value:   lower_case
  - key:     readability-identifier-namingPublicMethodCase
    value:   lower_case
  - key:     readability-identifier-namingVirtualMethodCase
    value:   lower_case
  - key:     readability-identifier-namingNamespaceCase
    value:   lower_case




# Turn all the warnings from the checks above into errors.
WarningsAsErrors: "*"
