.vscode/
build/
build_python
_out/
.venv/
.DS_Store
._.DS_Store
**/.DS_Store
**/._.DS_Store
*__pycache__
*.cache
*.log
*.pyc
*.dSYM
*.stylecheck
*.styled
*.d
*.o
artransformer.egg-info
*.swp
*.swo
*.cmd
*.ko
*.mod.c
Module.symvers
modules.order
.tmp_versions
examples/*.js
examples/cpu_codegen/
data/
log/
